In [2]:
import pypyodbc as odbc
import pandas as pd

In [3]:
conn = odbc.connect('Driver={SQL Server};'
                   'Server=Laptop\SQLEXPRESS;'
                   'Database=Final_Data;'
                   'Trusted_Connection=yes;')

In [4]:
cur = conn.cursor()

In [5]:
cur.execute('SELECT top 10 * FROM Final_Data')

In [9]:
cur.close()

In [26]:
conn.close()

In [10]:
df = pd.read_sql('Select * from Final_Data', conn)

C:\Users\sudhi\AppData\Local\Temp\ipykernel_1048\3017259275.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('Select * from Final_Data', conn)

In [25]:
df.head()

,itemcount,transactiondate,totalamount,saleamount,salepercent,cash_memo_no,dep1amount,dep2amount,dep3amount,dep4amount,store_id,mcn,custid,gender,location,age,cust_seg,sample_flag,discount
0,2.0,2018-01-26,-80.000000,-77.599998,0.97,2.100720e+19,0.0,-80.0,0.0,0.00000,Store 11,7.000001e+14,7.000001e+14,F,MUM,44.0,1.0,0.0,-2.400002
1,4.0,2018-02-10,1112.380005,1001.140015,0.90,1.003010e+19,25.9,0.0,112.0,974.47998,Store 49,7.000001e+14,7.000001e+14,M,BLR,77.0,1.0,0.0,111.239990
2,1.0,2017-09-05,22.000000,21.120001,0.96,2.100210e+19,0.0,0.0,22.0,0.00000,Store 24,7.000001e+14,7.000001e+14,F,BLR,55.0,1.0,0.0,0.879999
3,2.0,2017-08-05,97.000000,92.150002,0.95,2.100210e+19,0.0,87.0,10.0,0.00000,Store 24,7.000001e+14,7.000001e+14,F,BLR,55.0,1.0,0.0,4.849998
4,9.0,2017-08-04,432.000000,410.399994,0.95,2.101220e+19,0.0,432.0,0.0,0.00000,Store 27,7.000001e+14,7.000001e+14,F,BLR,55.0,1.0,0.0,21.600006